 #container{
				width: 1024px;
				/* border:2px solid red; */
				margin: 0px auto;

			}

			#header {
                background-color: #FFF;
				/* border:1px solid yellow; */
				
			}
			.headerImg{
				height: 300px;
				width:1020px;
				/* border-bottom: 6px solid blue; */
			}
			#headImg{
				height: 300px;
				width:1020px;
			}
			#header ul{
				width: 780px;
				height: 80px;
				/* border: 3px solid blue; */
				/* background:url(../img/shuizhu.jpg); */
			}
			/* 横向显示ul菜单列表 */
			#header ul li{
				list-style: none;
				float: left;
				border-bottom: 3px solid green;
				/* border:1px solid red; */
			}
			#header ul li a{
				width:100px;/*设置元素宽为80px*/
                height:50px;/*设置高度为28px*/
                line-height:50px;/*设置行距为28px，让文字在每行的中间位置*/
                 /*background:red;设置元素的背景为红色*/
                color:black;/*文字颜色是黑色*/
                margin:5px 5px;
                font-size:20px;/*用12号字*/
                font-weight: bolder;/*字体加粗*/
                display:block;/*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
                text-align:center;/*让文本居中*/
                text-decoration:none; /*去掉下划线*/

			}
			/* 鼠标指中时的样式 */
			#header ul li a:hover{
				font-size: 22px;
				color: #00AA00;
			}
			/* 登录注册按钮 位置调整*/
			.loginInfo{
				position: relative;
				float: right;
				margin-top: -100px;
				margin-right: 30x;
			}
			/*登录按钮*/
			.loginAndRegister{
				float: left;
				display: block;
				width: 80px;
				height: 30px;
				margin-right: 8px;
			}
			/*登录按钮背景设置*/
			#login{  
				background: url(../img/icon/Register_key_128px_510498_easyicon.net.ico); /*设置图标背景图片*/
				background-size:contain;  /*background-size：CSS3属性，控制背景图大小，contain自适应大小*/
				background-repeat: no-repeat;	

			}
			/*注册按钮背景设置*/
			#register{
                background:url(../img/icon/Users_128px_510500_easyicon.net.ico);
                background-size: contain;
                background-repeat: no-repeat;
			}
			.loginInfo a:link{
				display: block;
				text-align: right;
				padding: 9px;
				text-decoration: none;
				font-size: 20px;
				color: blue;
				font-family: cursive;
				font-weight: bolder;
			}
			.loginInfo a:hover{
				font-size: 23px;
				color: #5CACEE;
				/* border:1px outset #44BB44; */
			}

            #main{
            	background-color: #FFF;
            }
			.subtitle{
				height: 50px;
				background-color: #FFF;
				/* border: 1px solid yellow; */
				border-bottom: 3px outset blue ;

			}
			.subtitle img{
				width: 60p;
				height: 50px;
			}
		    .subtitle h2{
		    	position: relative;
		    	margin-left: 80px;
		    	margin-top: -40px;
		    	color: #00688B;
		    	font-family: '宋体';
		    	
		    }
		    #art{
		    	background-color: #E6E6E6;
		    }
			#lside{
				float: left;
				width: 715px;
				height: 88CAE1FFpx;
				color: blue;
				font-size:15px;
				font-family: "微软雅黑";
				border:1px solid #FFF;

				background-color: #FFF;

				border-radius:10px;  /*圆角*/
			}
			#lside a:link{
				color: blue;
				font-size:15px;
				font-family: "微软雅黑";
				line-height: 30px;
			}
			.four{
				float: left;
				width: 350px;
				height: 400px;
				margin: 3px;
				background-color: #E6E6E6;
				/* border: 1px solid blue; */
				/* margin: 5px; */
			}
			#rside{
				float: left;
				width:300px;
				height: 860px;
			    border:1px solid #FFF;
			    /* border-radius:10px; */
			    background-color: #E6E6E6;
			
			}
			#rside a:link{
				color: blue;
				font-size:15px;
				font-family: "微软雅黑";
				line-height: 30px;
			}
			#rside a:hover{
				color: red;
			}
			.subtitle h5{
                display: block;
				position:relative;
                color: #fff;
                margin-left: 610px;
                margin-top:-45px;
			}
			.four img{
				margin: 4px;
				width: 340px;
				height: 200px;
				border: 1px solid gray;


			}
			/* 列表前面的小箭头 1 */
		/* 	.four ul li{
		               list-style-image: url(../img/arrow_16px_1199164_easyicon.net.ico);
		               margin:6px;
		               list-style-image: 
		} */ 
		/* 列表前面的小箭头2 添加li背景实现，并用text-indent 设置与文字的距离 */
			.four ul li{
				background: url(../img/arrow_16px_1199164_easyicon.net.ico) no-repeat;
				text-indent: 16px;
				list-style: none;
				background-size: 5px 15px;

			}
			.four ul li a:hover{
				color: red;
			}
			#newspaper{
				
				height:500px;
				width:292px;
				margin: 0px;
				border:4px solid #FFF;
			}
			#adv{

				
				margin: 0px;
				border:4px solid #FFF;
			}
			
			#rside ul li{
				list-style: circle;
			}
			 /*hr分割线*/ 
             hr{
             	float: left;
             	filter: alpha(opacity=100,finishopacity=0,style=3);
             	width: 100%;
                color: #987cb9;
                size: 30px;
             }
             

             /* footer CSS */
             #footer{
             	margin:0px auto;
             }
             .col-sm-2{
             	float: left;
             	display: block;
             	width: 150px;
                height: 250px;
                /* border: 1px solid red; */
                margin:40px 25px;

             }
             .col-sm-2 dt{
             	margin:0px 10px 10px 40px;
             	font-weight: 700;
             	font-size: 15px;
             	font-family: italic small-caps 600 12pts/18pts Courier;
             }
             .col-sm-2 dd{
             	margin:10px 10px 10px 40px;
             }
             

             #col-sm-ok{
             	float: left;
             	display: block;
             	width: 300px;
                height:250px;
                color: #808080;
                /* border: 1px solid red; */
                margin:40px 40px;
             } 
             /*之前将#col-sm-ok dt左右字体改成一直颜色，这里单独 将dt标题 改成黑色*/
             #col-sm-ok dt{
             	color: black;
             
             }
             
             #col-sm-ok dt{
             	margin:0px 10px 10px 0px;
             }
              #fotter_info_link a{
              	font-size: 15px;
                text-decoration: none;
                 color: #808080;
              }
              #fotter_info_link a:hover{
                text-decoration:underline;
              }
              
              .copy{
              	float: left;
              	width:1024px;
              	height:150px;
               	text-align:center;
               	font-size: 14px;
               }
               .copy p{
               	display:block;
                margin-bottom:-2px;
                color: #808080;
               }
               .copy a{
               	text-decoration: none;
               	color: #808080;
               }
               .copy a:hover{
               	text-decoration: underline;
               }


